<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <img src="/assets/img/logos/HackHPC-bar-blackbg.svg" alt="HackHPC" style="height:36px;">
        <p class="small" style="color:#B9CBEF; margin-top:1rem; max-width:320px;">Building the next generation of research computing innovators through hackathons, codeathons, and faculty development.</p>
      </div>
      <div>
        <h4>Explore</h4>
        <ul>
          <li><a href="/about/">About HackHPC</a></li>
          <li><a href="/about/organizers.html">Organizers</a></li>
          <li><a href="/events/">Events Archive</a></li>
          <li><a href="/partners/">Partners</a></li>
          <li><a href="/about/faqs.html">FAQs</a></li>
          <li><a href="/about/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
      </div>
      <div>
        <h4>Get Involved</h4>
        <ul>
          <li><a href="/programs/participants.html">Participate</a></li>
          <li><a href="/programs/mentors.html">Become a Mentor</a></li>
          <li><a href="/programs/faculty.html">Faculty Development</a></li>
          <li><a href="/get-involved/">All Ways to Join</a></li>
        </ul>
      </div>
      <div>
        <h4>Connect</h4>
        <ul>
          <li><a href="{{ site.github_org_url }}" target="_blank" rel="noopener">GitHub Organization</a></li>
          <li><a href="/resources/">Resources & Repositories</a></li>
          <li><a href="/research/">Research & Publications</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>&copy; {{ 'now' | date: "%Y" }} HackHPC. All rights reserved.</span>
      <span>Site source on <a href="{{ site.github_org_url }}/hackhpc.github.io" target="_blank" rel="noopener" style="color:#fff;">GitHub</a></span>
    </div>
  </div>
</footer>
<script src="/assets/js/main.js"></script>
